.library-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr))
}

.library-column {
    display: flex;
    flex-direction: column;
}

.search-menu {
    margin: auto;
}

.search-menu ul {
    list-style: none;
}

.search-menu li {
    display: inline;
    padding: 1rem;
}

.results-window {
    border: 1px dotted yellow;
    margin: 2rem;
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.deselected {
    display: none;
}